data/maternal*
data/fetal*
data/natality*
data/pregrel*
data/fet*
data/inf*
data/mat*
data/infant*
data/us*
data/all*
data/Old
data/other*
data/compare_periods
data/.DS_Store
data/new_other_category*
data/.Rapp.history

data/Z.old_data*
figs/Z.old_figs*
scripts/Z.old_scripts*

.DS_Store
.RData
.Rhistory

scripts/scrape_data.R
